<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="prak5.Properties.Settings.prak5ConnectionString" connectionString="Data Source=DESKTOP-FPRSQO0;Initial Catalog=prak5;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="prak5.Properties.Settings.prak5ConnectionString1"
            connectionString="Data Source=LAPTOP-ODBERALU\TESTSQL;Initial Catalog=prak5;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>